---
import "../../styles/global.css";
import { getCollection } from "astro:content";
import { getAlbumImages } from "../../utils/albums";
import { Image } from 'astro:assets';
import Navbar from "../../components/navbar.astro";

export async function getStaticPaths() {
    const albums = await getCollection("albums");

    const paths = Object.values(albums).map((album) => {
        return {
            params: {
                id: album.id,
            },
            props: {
                album,
            },
        };
    });

    return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<!-- <Navbar /> -->
<div class="text-center my-16 mb-32">
    <h1 class="text-5xl xl:text-8xl font-bold font-handwriting">
        {album.data.title}
    </h1>
    <p class="text-lg xl:text-2xl my-4">
        {album.data.description}
    </p>
    <p class="text-2xl my-4 text-center font-display">
        <a href="/artwork/" class="text-black hover:underline">Go back</a>
    </p>

    <div class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
        {
            images.map((image) => (
                <Image
                    src={image}
                    alt={`Image from ${album.data.title} album`}
                    format="avif"
                    quality={50}
                    class="rounded-sm mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
                    loading="lazy"
                />
            ))
        }
    </div>


</div>