@import "tailwindcss";


@font-face {
    font-family: LiliaHandwriting2025;
    src: url("../assets/LiliaHandwriting2025.otf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'LiliaHandwriting2025';
    font-size: xx-large;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background: #f1c40f; */
    font-size: small;
}

.flipbook {
    width: 1000px;
    height: 600px;
    font-size: small;
}

.flipbook .hard {
    background: #b75100 !important;
    color: #fff;
    font-weight: bold;
    /* border: none; */
    border: #fff;
    border-width: 20px;
    
}

.flipbook .hard .small {
    font-style: italic;
    font-weight: lighter;
    opacity: 0.7;
    font-size: 14px;
    color: #fff;
}

.flipbook .page {
    background: oklch(47.3% 0.137 46.201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    background-image: url("../assets/scrapbookImage.png");

    
}

.page img {
    width: 70%;
    object-fit: cover;
    margin: auto;
}

.flipbook .page .small {
    font-size: 14px;
    margin: 10px;
    
}