@import "tailwindcss";



@font-face {
    font-family: HandwritingFont;
    src: url("../assets/HandwritingFont.otf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    
}

@theme {
    --font-display: "HandwritingFont", serif;
}