---
import "../styles/global.css";
import { Image } from 'astro:assets';
import artworkButton from '../assets/artworkButton.png';
import gamesButton from '../assets/gamesButton.png'
// import greenSparkles from '../assets/greenSparkles.png'
// import greenSparklesv2 from '../assets/greenSparklesv2.png'
// import homeButton from '../assets/homeButton.png'
// import leafStem from '../assets/leafStem.png'
// import mainPage1 from '../assets/mainPage1.png'
// import mainPage2 from '../assets/mainPage2.png'
// import mainPage3 from '../assets/mainPage3.png'
// import mainPageIntro from '../assets/mainPageIntro.png'
import photographyButton from '../assets/photographyButton.png'
import portfolioButton from '../assets/portfolioButton.png'

import Navbar from "../components/navbar.astro";

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Lilia</title>
        <script src="../scripts/50daysScrapbook.js" defer></script>
        <script src="https://kit.fontawesome.com/e826539e45.js" crossorigin="anonymous"></script>
	</head>

	<body class="bg-indigo-50">
		<Navbar />

        <div class="flipbook">
            <div class="hard">The Last 50 Days of 2025 <small>~ Lilia</small></div>
            <div class="hard"></div>
        </div>

        <script src="../script/jquery.js"></script>
        <script src="../scripts/turn.js"></script>
	</body>
</html>
