---
import "../styles/50daysScrapbook.css";
import { Image } from 'astro:assets';
import artworkButton from '../assets/artworkButton.png';
import gamesButton from '../assets/gamesButton.png'
// import greenSparkles from '../assets/greenSparkles.png'
// import greenSparklesv2 from '../assets/greenSparklesv2.png'
// import homeButton from '../assets/homeButton.png'
// import leafStem from '../assets/leafStem.png'
// import mainPage1 from '../assets/mainPage1.png'
// import mainPage2 from '../assets/mainPage2.png'
// import mainPage3 from '../assets/mainPage3.png'
// import mainPageIntro from '../assets/mainPageIntro.png'
import photographyButton from '../assets/photographyButton.png'
import portfolioButton from '../assets/portfolioButton.png'

import Navbar from "../components/navbar.astro";

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Lilia</title>
        
        <script src="https://kit.fontawesome.com/e826539e45.js" crossorigin="anonymous"></script>
	</head>

	<body class="bg-indigo-50">
		<Navbar />

        <div class="flipbook">
            <div class="hard">The Last 50 Days of 2025 <small>~ Lilia</small></div>
            <div class="hard"></div>
            <div class="text-sm">
                <p>My goals for the last 50 days of 2025:</p>
                <ul class="m-3">
                    <li>work on my Dragonpedia game, a space cat clicker game, and other Godot games</li>
                    <li>create a resume so I can apply for an internship</li>
                    <li>redesign my personal website</li>
                    <li>not break my reading streak again (I had a 134 day streak before I broke it, now I’m at 30 trying to build it back up)</li>
                    <li>Create some cool artwork</li>
                </ul>
            </div>
            <div>
                <p class="m-3">
                    day #1:
                    I worked on my Dragonpedia game for about an hour
                    I chose a resume template (I might pivot and chose a different template later, recommendations welcome!)
                    I read more of Extras at lunch today
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #2:
                    I worked some more on the key rebind part of the settings menu for Dragonpedia (can’t attach a screenshot of the menu itself bc Godot was being weird, but I can give you a code screenshot)
                    I will be reading some more of Extras before I go to bed tonight
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #3:
                    I couldn’t work more on Dragonpedia itself, but I did spend a lot of time trying to get Godot to work
                    Will be doing some more reading of Extras before bed
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #4:
                    I tried so so hard to get Godot to work and not give me the spinny lolipop, but I failed…it was just stuck on “updating scene groups”
                    I finished reading Extras last night, so tonight I am going to start reading a book called Shatter Me
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #5:
                    I didn’t have a chance to troubleshoot Godot more, but atp idk how to get it working
                    I bought lots of yarn (sorry for low quality pic)!!!
                    I’m going to read more of Shatter Me tonight
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #6:
                    I did some more godot debugging and I’ve decided to just start over with a new project but make it more organized and enhanced (the current one is a mess: https://github.com/AlanikREDAWN/moonshot-dragonpedia) :heavysob:
                    I did some crochet with the yarn I bought
                    I finished a DE English assignment thats due tomorrow
                    I’m going to read more of Shatter Me before bed! I’m liking it so far, its pretty fast paced and hard to put down
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #7:
                    despite saying I gave up on godot yesterday, I did some more research and discovered that i can’t commit to git either. I think its bc my GitHub folder is in my icloud drive but idk
                    More reading before bed!
                    I wish I was doing more. I keep getting stuck in this cycle of school and stuff and its kind of frustrating
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #8:
                    Since idk what to do about my Dragonpedia game, I decided to start working on a new game called Cats N Trains to get my moonshot hours
                    I did some coding on the redesign of my personal site for #personal-site-ysws!
                    I started to make an animated slime for a game asset
                    More crochet! blahaj sweater prototype coming soon:tm:
                    More reading of Shatter Me before bed
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #9:
                    I did some art
                    more progress on my personal site redesign!
                    I realized I was using the wrong size yarn for my crochet project so I have to start over with a smaller hook size to compensate :heavysob:
                    and finally I will do some more reading before bed! (my reading streak is currently at 38, not counting tonight)
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #10:
                    I worked some more on exporting my artwork in the style of my new personal website in order to compile them all together on my new personal site
                    More reading of Shatter Me before bed!
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #11:
                    didn’t really do a whole lot becuase I was at a field trip to Kennedy Space Center today, but I will be doing some more reading before bed! tonight I’m starting Thieves Gambit because I finished Shatter Me last night and I don’t have the next book in the series yet
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #12:
                    today I didn’t get much done becuase I was busy doing real-life things with my family, but I will be doing some more reading of Thieves Gambit before bed!
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #13:
                    I watermarked all my artwork!!
                    more crochet
                    more reading before bed
                    I’m going to keep writing my daily updates even when slack goes down, then backlog them here when it comes back up
                </p>
            </div>
            <div>
                <p class="m-3">
                    Day #13:
                    Slack down day #1
                    I added all my watermarked art to the artwork gallery on my personal website! It could use some optimization though
                    I crocheted some stuff
                    More reading before bed!
                </p>
            </div>
            <div>
                <p class="m-3">
                    Day #14:
                    Slack down day #2
                    LOTS of crocheting! (I’m prepping for my first market!)
                    More reading
                </p>
            </div>
            <div>
                <p class="m-3">
                    Day #15:
                    SLACK IS BACK UP WOOOOO
                    I’ve been working on some artwork: stickers + game asset art
                    More crocheting!
                    Even more reading before bed!
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #16:
                    OMG so much crocheting! today I started making an army of mini octopi
                    A little bit of work on my personal site
                    more reading!
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #17:
                    MORE OCTOPI CROCHET
                    more personal site progress
                    and some reading before bed!
                </p>
            </div>
            <div>
                <p class="m-3">
                   day #18 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #19 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #19 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #20 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #21 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #22 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #23 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #24 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #25 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #26 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #27 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #28 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #29 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #29 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    day #30 coming soon 
                </p>
            </div>
            <div>
                <p class="m-3">
                    ...
                </p>
            </div>
            <div class="hard"></div>
            <div class="hard">The End</div>
        </div>

        <script src="../scripts/jquery.js"></script>
        <script type="text/javascript" src="../scripts/turn.min.js"></script>
        <!-- <script>
            $(".flipbook").turn();
        </script> -->
        <script src="../scripts/50daysScrapbook.js"></script>
	</body>
</html>
