---
import "../styles/50daysScrapbook.css";
import { Image } from 'astro:assets';
import artworkButton from '../assets/artworkButton.png';
import gamesButton from '../assets/gamesButton.png'
// import greenSparkles from '../assets/greenSparkles.png'
// import greenSparklesv2 from '../assets/greenSparklesv2.png'
// import homeButton from '../assets/homeButton.png'
// import leafStem from '../assets/leafStem.png'
// import mainPage1 from '../assets/mainPage1.png'
// import mainPage2 from '../assets/mainPage2.png'
// import mainPage3 from '../assets/mainPage3.png'
// import mainPageIntro from '../assets/mainPageIntro.png'
import photographyButton from '../assets/photographyButton.png'
import portfolioButton from '../assets/portfolioButton.png'

import Navbar from "../components/navbar.astro";

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Lilia</title>
        
        <script src="https://kit.fontawesome.com/e826539e45.js" crossorigin="anonymous"></script>
	</head>

	<body class="bg-[url(../assets/personalSiteBackground.png)] bg-cover">
		<Navbar />

        <p class="font-handwriting text-4xl flex justify-center p-10 md:text-5xl xl:text-6xl sm:block md:hidden">Sadly, I could not figure out how to get this to display on mobile, so this is one of the few pages that is not mobile friendly</p>

        <div class="flipbook hidden md:block">
            <div class="hard">
                <p class="text-5xl off">The Last 50 Days of 2025 <br><small>~ Lilia</small></p>
            </div>
            <div class="hard"></div>
            <div class="text-4xl">
                <p>My goals for the last 50 days of 2025:</p>
                <ul class="m-3">
                    <li>• work on my Dragonpedia game, a space cat clicker game, and other Godot games</li>
                    <li>• create a resume so I can apply for an internship</li>
                    <li>• redesign my personal website</li>
                    <li>• not break my reading streak again (I had a 134 day streak before I broke it, now I’m at 30 trying to build it back up)</li>
                    <li>• Create some cool artwork</li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #1:</p>
                <ul class="m-3">
                    <li>• I worked on my Dragonpedia game for about an hour</li>
                    <li>• I chose a resume template (I might pivot and chose a different template later, recommendations welcome!)</li>
                    <li>• I read more of Extras at lunch today</li>
                </ul>
                <!-- <p class="m-3">
                    day #1:
                    • I worked on my Dragonpedia game for about an hour
                    • I chose a resume template (I might pivot and chose a different template later, recommendations welcome!)
                    • I read more of Extras at lunch today
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #2:</p>
                <ul class="m-3">
                    <li>• I worked some more on the key rebind part of the settings menu for Dragonpedia (can’t attach a screenshot of the menu itself bc Godot was being weird, but I can give you a code screenshot)</li>
                    <li>• I will be reading some more of Extras before I go to bed tonight</li>
                </ul>
                <!-- <p class="m-3">
                    day #2:
                    • I worked some more on the key rebind part of the settings menu for Dragonpedia (can’t attach a screenshot of the menu itself bc Godot was being weird, but I can give you a code screenshot)
                    • I will be reading some more of Extras before I go to bed tonight
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #3:</p>
                <ul class="m-3">
                    <li>• I couldn’t work more on Dragonpedia itself, but I did spend a lot of time trying to get Godot to work</li>
                    <li>• Will be doing some more reading of Extras before bed</li>
                </ul>
                <!-- <p class="m-3">
                    day #3:
                    • I couldn’t work more on Dragonpedia itself, but I did spend a lot of time trying to get Godot to work
                    • Will be doing some more reading of Extras before bed
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #4:</p>
                <ul class="m-3">
                    <li>• I tried so so hard to get Godot to work and not give me the spinny lolipop, but I failed…it was just stuck on “updating scene groups”</li>
                    <li>• I finished reading Extras last night, so tonight I am going to start reading a book called Shatter Me</li>
                </ul>
                <!-- <p class="m-3">
                    day #4:
                    • I tried so so hard to get Godot to work and not give me the spinny lolipop, but I failed…it was just stuck on “updating scene groups”
                    • I finished reading Extras last night, so tonight I am going to start reading a book called Shatter Me
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #5:</p>
                <ul class="m-3">
                    <li>• I didn’t have a chance to troubleshoot Godot more, but atp idk how to get it working</li>
                    <li>• I bought lots of yarn!!!</li>
                    <li>• I’m going to read more of Shatter Me tonight</li>
                </ul>
                <!-- <p class="m-3">
                    day #5:
                    • I didn’t have a chance to troubleshoot Godot more, but atp idk how to get it working
                    • I bought lots of yarn!!!
                    • I’m going to read more of Shatter Me tonight
                </p> -->
            </div>
            <div class="text-3xl">
                <p>day #6:</p>
                <ul class="m-3">
                    <li>• I did some more godot debugging and I’ve decided to just start over with a new project but make it more organized and enhanced (the current one is a mess: https://github.com/AlanikREDAWN/moonshot-dragonpedia) :heavysob:</li>
                    <li>• I did some crochet with the yarn I bought</li>
                    <li>• I finished a DE English assignment thats due tomorrow</li>
                    <li>• I’m going to read more of Shatter Me before bed! I’m liking it so far, its pretty fast paced and hard to put down</li>
                </ul>
                <!-- <p class="m-3">
                    day #6:
                    • I did some more godot debugging and I’ve decided to just start over with a new project but make it more organized and enhanced (the current one is a mess: https://github.com/AlanikREDAWN/moonshot-dragonpedia) :heavysob:
                    • I did some crochet with the yarn I bought
                    • I finished a DE English assignment thats due tomorrow
                    • I’m going to read more of Shatter Me before bed! I’m liking it so far, its pretty fast paced and hard to put down
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #7:</p>
                <ul class="m-3">
                    <li>• despite saying I gave up on godot yesterday, I did some more research and discovered that i can’t commit to git either. I think its bc my GitHub folder is in my icloud drive but idk</li>
                    <li>• More reading before bed!</li>
                    <li>• I wish I was doing more. I keep getting stuck in this cycle of school and stuff and its kind of frustrating</li>
                </ul>
                <!-- <p class="m-3">
                    day #7:
                    • despite saying I gave up on godot yesterday, I did some more research and discovered that i can’t commit to git either. I think its bc my GitHub folder is in my icloud drive but idk
                    • More reading before bed!
                    • I wish I was doing more. I keep getting stuck in this cycle of school and stuff and its kind of frustrating
                </p> -->
            </div>
            <div class="text-3xl">
                <p>day #8:</p>
                <ul class="m-3">
                    <li>• Since idk what to do about my Dragonpedia game, I decided to start working on a new game called Cats N Trains to get my moonshot hours</li>
                    <li>• I did some coding on the redesign of my personal site for #personal-site-ysws!</li>
                    <li>• I started to make an animated slime for a game asset</li>
                    <li>• More crochet! blahaj sweater prototype coming soon:tm:</li>
                    <li>• More reading of Shatter Me before bed</li>
                </ul>
                <!-- <p class="m-3">
                    day #8:
                    • Since idk what to do about my Dragonpedia game, I decided to start working on a new game called Cats N Trains to get my moonshot hours
                    • I did some coding on the redesign of my personal site for #personal-site-ysws!
                    • I started to make an animated slime for a game asset
                    • More crochet! blahaj sweater prototype coming soon:tm:
                    • More reading of Shatter Me before bed
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #9:</p>
                <ul class="m-3">
                    <li>• I did some art</li>
                    <li>• more progress on my personal site redesign!</li>
                    <li>• I realized I was using the wrong size yarn for my crochet project so I have to start over with a smaller hook size to compensate :heavysob:</li>
                    <li>• and finally I will do some more reading before bed! (my reading streak is currently at 38, not counting tonight)</li>
                </ul>
                <!-- <p class="m-3">
                    day #9:
                    • I did some art
                    • more progress on my personal site redesign!
                    • I realized I was using the wrong size yarn for my crochet project so I have to start over with a smaller hook size to compensate :heavysob:
                    • and finally I will do some more reading before bed! (my reading streak is currently at 38, not counting tonight)
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #10:</p>
                <ul class="m-3">
                    <li>• I worked some more on exporting my artwork in the style of my new personal website in order to compile them all together on my new personal site</li>
                    <li>• More reading of Shatter Me before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #10:
                    • I worked some more on exporting my artwork in the style of my new personal website in order to compile them all together on my new personal site
                    • More reading of Shatter Me before bed!
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #11:</p>
                <ul class="m-3">
                    <li>• didn’t really do a whole lot becuase I was at a field trip to Kennedy Space Center today, but I will be doing some more reading before bed! tonight I’m starting Thieves Gambit because I finished Shatter Me last night and I don’t have the next book in the series yet</li>
                </ul>
                <!-- <p class="m-3">
                    day #11:
                    • didn’t really do a whole lot becuase I was at a field trip to Kennedy Space Center today, but I will be doing some more reading before bed! tonight I’m starting Thieves Gambit because I finished Shatter Me last night and I don’t have the next book in the series yet
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #12:</p>
                <ul class="m-3">
                    <li>• today I didn’t get much done becuase I was busy doing real-life things with my family, but I will be doing some more reading of Thieves Gambit before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #12:
                    • today I didn’t get much done becuase I was busy doing real-life things with my family, but I will be doing some more reading of Thieves Gambit before bed!
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #13:</p>
                <ul class="m-3">
                    <li>• I watermarked all my artwork!!</li>
                    <li>• more crochet</li>
                    <li>• more reading before bed</li>
                    <li>• I’m going to keep writing my daily updates even when slack goes down, then backlog them here when it comes back up</li>
                </ul>
                <!-- <p class="m-3">
                    day #13:
                    • I watermarked all my artwork!!
                    • more crochet
                    • more reading before bed
                    • I’m going to keep writing my daily updates even when slack goes down, then backlog them here when it comes back up
                </p> -->
            </div>
            <div class="text-4xl">
                <p>Day #13:</p>
                <ul class="m-3">
                    <li>• Slack down day #1</li>
                    <li>• I added all my watermarked art to the artwork gallery on my personal website! It could use some optimization though</li>
                    <li>• I crocheted some stuff</li>
                    <li>• More reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    Day #13:
                    • Slack down day #1
                    • I added all my watermarked art to the artwork gallery on my personal website! It could use some optimization though
                    • I crocheted some stuff
                    • More reading before bed!
                </p> -->
            </div>
            <div class="text-4xl">
                <p>Day #14:</p>
                <ul class="m-3">
                    <li>• Slack down day #2</li>
                    <li>• LOTS of crocheting! (I’m prepping for my first market!)</li>
                    <li>• More reading</li>
                </ul>
                <!-- <p class="m-3">
                    Day #14:
                    • Slack down day #2
                    • LOTS of crocheting! (I’m prepping for my first market!)
                    • More reading
                </p> -->
            </div>
            <div class="text-4xl">
                <p>Day #15:</p>
                <ul class="m-3">
                    <li>• SLACK IS BACK UP WOOOOO</li>
                    <li>• I’ve been working on some artwork: stickers + game asset art</li>
                    <li>• More crocheting!</li>
                    <li>• Even more reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    Day #15:
                    • SLACK IS BACK UP WOOOOO
                    • I’ve been working on some artwork: stickers + game asset art
                    • More crocheting!
                    • Even more reading before bed!
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #16:</p>
                <ul class="m-3">
                    <li>• OMG so much crocheting! today I started making an army of mini octopi</li>
                    <li>• A little bit of work on my personal site</li>
                    <li>• more reading!</li>
                </ul>
                <!-- <p class="m-3">
                    day #16:
                    • OMG so much crocheting! today I started making an army of mini octopi
                    • A little bit of work on my personal site
                    • more reading!
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #17:</p>
                <ul class="m-3">
                    <li>• MORE OCTOPI CROCHET</li>
                    <li>• more personal site progress</li>
                    <li>• and some reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #17:
                    • MORE OCTOPI CROCHET
                    • more personal site progress
                    • and some reading before bed!
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #18:</p>
                <ul class="m-3">
                    <li>• I made some good progress on my personal site. Today I had the idea to add like a flipbook/magazine thing document online this thread/the 50 days kind of thing</li>
                    <li>• I crocheted more octopi and im gonna start adding keychains to some of them</li>
                    <li>• more reading before bed! last night I finished Thieves’ Gambit, and I don’t have the second book, so tonight I’m gonna start reading Project Hail Mary!</li>
                </ul>
                <!-- <p class="m-3">
                   day #18:
                    • I made some good progress on my personal site. Today I had the idea to add like a flipbook/magazine thing document online this thread/the 50 days kind of thing
                    • I crocheted more octopi and im gonna start adding keychains to some of them
                    • more reading before bed! last night I finished Thieves’ Gambit, and I don’t have the second book, so tonight I’m gonna start reading Project Hail Mary!
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #19:</p>
                <ul class="m-3">
                    <li>• I did some work on my personal site, mostly reformatting the text in the book so it looks nice</li>
                    <li>• I did some artwork</li>
                    <li>• A little bit of crochet</li>
                    <li>• Some reading before bed! (last night I fell asleep before I could read, meaning I broke my reading streak again…)</li>
                </ul>
                <!-- <p class="m-3">
                    day #19 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #20:</p>
                <ul class="m-3">
                    <li>• While I didn’t do any work on my personal site today, I did finalize some artwork that I made for a <a href="https://swiftdust.itch.io/drempal-2">game</a> made by @/SwiftDust (mart)!</li>
                    <li>• I did some more crochet</li>
                    <li>• and I will be doing some more reading of Project Hail Mary before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #19 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #21:</p>
                <ul class="m-3">
                    <li>• today I made a lot of progress on my personal site and finished my first book-thing</li>
                    <li>• I crocheted another octopus</li>
                    <li>• I’m gonna be doing some reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #20 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #22:</p>
                <ul class="m-3">
                    <li>• I worked on setting up the stuff to make a photography gallery and watermarking some of my photographs (here’s an example of one of my favs)</li>
                    <li>• I crocheted 4 octopi today!</li>
                    <li>• More reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #21 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #23:</p>
                <ul class="m-3">
                    <li>• I didn’t make any more progress on my personal site because I totally locked in on schoolwork…either way, I felt super productive</li>
                    <li>• I crocheted another octopus, in yellow</li>
                    <li>• More reading of Project Hail Mary before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #22 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #24:</p>
                <ul class="m-3">
                    <li>what I wrote got deleted and I can't get it back</li>
                </ul>
                <!-- <p class="m-3">
                    day #23 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #25:</p>
                <ul class="m-3">
                    <li>• I finally got around to watermarking all of my photos for the photography section on my personal site!</li>
                    <li>• I crocheted more octopi</li>
                    <li>• I will be doing more reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #24 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #26:</p>
                <ul class="m-3">
                    <li>• I painted some pottery that my mom made!</li>
                    <li>• I crocheted some more (hopefully I’ll have enough for the market this coming Saturday)</li>
                    <li>•I will be doing some more reading of Project Hail Mary before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #25 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #27:</p>
                <ul class="m-3">
                    <li>• I added my photography to my personal site! next I’m gonna add a thing that will track what im listening to live on spotify</li>
                    <li>• I crocheted some more</li>
                    <li>• more reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #26 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #28:</p>
                <ul class="m-3">
                    <li>• I added a thing to my personal site that will track what im listening to on spotify (will add styling tomorrow, probably)</li>
                    <li>• I did some more crochet! I’m going to a teen craft fair this Saturday and I’m super excited</li>
                    <li>• A little bit of art</li>
                    <li>• I will be doing more reading before bed!</li>
                </ul>
                <!-- <p class="m-3">
                    day #27 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #29:</p>
                <ul class="m-3">
                    <li>• I added styling to my spotify music indicator on my personal site and I also fixed some issues with the photo gallery</li>
                    <li>• More crochet!!! Today I started adding keychains to my octopi army</li>
                    <li>• more reading of project hail mary before bed! I’m enjoying it so far, and I really like the way its written</li>
                </ul>
                <!-- <p class="m-3">
                    day #28 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #30:</p>
                <ul class="m-3">
                    <li>• I didn’t make any more progress on my personal site, but I did do a bunch of other things!</li>
                    <li>• I continued prepping for my first craft market on saturday by adding keychains to all my crocheted octopi and laminating and hand-cutting stickers of my artwork to sell!</li>
                    <li>• I will also be doing some more reading before bed</li>
                </ul>
                <!-- <p class="m-3">
                    day #29 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #31:</p>
                <ul class="m-3">
                    <li>• today I didn’t do a whole lot other then prep for my first craft market tomorrow!</li>
                    <li>• will be doing more reading before bed</li>
                    <!-- <li>• </li> -->
                </ul>
                <!-- <p class="m-3">
                    day #29 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #32:</p>
                <ul class="m-3">
                    <li>• today I sold at my first ever (teen) craft fair! It was super fun, even though the foot traffic was pretty slow. I really enjoyed it, and I’m looking into doing it again. Next time I’ll be better about not spending money on all the cute things at the tables around me lol</li>
                    <!-- <li>• </li> -->
                    <!-- <li>• </li> -->
                </ul>
                <!-- <p class="m-3">
                    day #30 coming soon 
                </p> -->
            </div>
            <div class="text-4xl">
                <p>day #33:</p>
                <ul class="m-3">
                    <li>• today I mostly dealt with some important family stuff, but I did manage to pull out an unfinished crochet project and work on it!</li>
                    <li>• more reading before bed</li>
                    <!-- <li>• </li> -->
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #34:</p>
                <ul class="m-3">
                    <li>• I worked some more on crocheting a blanket</li>
                    <li>• I worked on getting my personal site ready to ship for #personal-site-ysws!!</li>
                    <!-- <li>• </li> -->
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #35:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #36:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #37:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #38:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #39:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #40:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #41:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #42:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #43:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #44:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #45:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #46:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #47:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #48:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #49:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="text-4xl">
                <p>day #50:</p>
                <ul class="m-3">
                    <li>• </li>
                    <li>• </li>
                    <li>• </li>
                </ul>
            </div>
            <div class="hard"></div>
            <div class="hard">
                <p class="text-5xl off">The End</p>
            </div>
        </div>

        <script src="../scripts/jquery.js"></script>
        <script type="text/javascript" src="../scripts/turn.min.js"></script>
        <!-- <script>
            $(".flipbook").turn();
        </script> -->
        <script src="../scripts/50daysScrapbook.js"></script>
	</body>
</html>
